src/main/java/PaymentServices/PaymentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="DeptorServices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="DeptorServices" name="PaymentService">
<types>
<xsd:schema>
<xsd:import namespace="DeptorServices" schemaLocation="http://127.0.0.1:8080/aras.law/ws/PaymentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetLoan">
<part name="GetLoanRequest" element="tns:GetLoanRequest"/>
</message>
<message name="GetLoanResponse">
<part name="GetLoanResponse" element="tns:GetLoanResponse"/>
</message>
<message name="PayLoan">
<part name="PayLoanRequest" element="tns:PayLoanRequest"/>
</message>
<message name="PayLoanResponse">
<part name="PayLoanResponse" element="tns:PayLoanResponse"/>
</message>
<message name="PayCommitment">
<part name="PayCommitmentRequest" element="tns:PayCommitmentRequest"/>
</message>
<message name="PayCommitmentResponse">
<part name="PayCommitmentResponse" element="tns:PayCommitmentResponse"/>
</message>
<portType name="PaymentWebServiceImp">
<operation name="GetLoan">
<input wsam:Action="DeptorServices/PaymentWebServiceImp/GetLoanRequest" message="tns:GetLoan"/>
<output wsam:Action="DeptorServices/PaymentWebServiceImp/GetLoanResponse" message="tns:GetLoanResponse"/>
</operation>
<operation name="PayLoan">
<input wsam:Action="DeptorServices/PaymentWebServiceImp/PayLoanRequest" message="tns:PayLoan"/>
<output wsam:Action="DeptorServices/PaymentWebServiceImp/PayLoanResponse" message="tns:PayLoanResponse"/>
</operation>
<operation name="PayCommitment">
<input wsam:Action="DeptorServices/PaymentWebServiceImp/PayCommitmentRequest" message="tns:PayCommitment"/>
<output wsam:Action="DeptorServices/PaymentWebServiceImp/PayCommitmentResponse" message="tns:PayCommitmentResponse"/>
</operation>
</portType>
<binding name="PaymentServicePortBinding" type="tns:PaymentWebServiceImp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PayLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PayCommitment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PaymentService">
<port name="PaymentServicePort" binding="tns:PaymentServicePortBinding">
<soap:address location="http://127.0.0.1:8080/aras.law/ws/PaymentWebService"/>
</port>
</service>
</definitions>